# Dependency directories
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Environment variables
#.env

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Debug
.idea
.vscode
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db